<header role="banner">
  <h1 class="logo cf">
    <a href="{{ '/' | relative_url }}">
      <span class="icon">
        <svg id="ak" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 279.93 300.01">
          <title>logo</title>
          <path d="M128.89,154.92l42.46-91.35a7,7,0,0,0,0-5.93L146.47,4.12a7.18,7.18,0,0,0-13,0l-82.72,178a7.06,7.06,0,0,0,3.27,9.3L269.6,299.21a7.12,7.12,0,0,0,9.72-9.3l-30.5-65.61a7.12,7.12,0,0,0-3.27-3.36L132.16,164.22A7.06,7.06,0,0,1,128.89,154.92ZM40,205.26L0.68,289.82a7.12,7.12,0,0,0,9.74,9.29l103.74-52.32a7.06,7.06,0,0,0,0-12.65L49.71,201.9a7.18,7.18,0,0,0-9.63,3.21l-0.08.15h0Z" transform="translate(-0.03 0.01)" />
        </svg>
      </span>
      <span class="text">
        {{ site.title | escape }}
      </span>
    </a>
  </h1>
  <div class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav role="navigation" class="nav-container">
    <ul>
      <li><a href="/about/" title="A little bit about me">About</a></li>
      <li><a href="/journal/" title="Some thoughts and opinions I have">Blog</a></li>
      <li><a href="https://www.behance.net/ajaykarwal" title="My design portfolio on Behance.net" target="_blank">Design Portfolio</a></li>
      <!-- <li><a href="/reading-list/" title="Books that have shaped the way I think">Reading List</a></li> -->
      <li><a href="/today-i-learned/" title="Bite-sized bits of knowledge">Today I Learned</a></li>
      <li><a href="/contact/" title="Get in touch">Contact</a></li>
    </ul>
  </nav>
</header>
