{% assign og_title = page.title | default: site.title %}
{% assign og_desc = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
{% assign og_type = 'website' %}
{% assign og_url = page.url | replace:'index.html','' | absolute_url %}
{% assign og_image = 'http://ajaykarwal.com/images/feed-artwork.png' %}
{% if page.date %}
  {% assign og_date = page.date | date_to_xmlschema %}
{% endif %}

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ og_title }}">
<meta itemprop="description" content="{{ og_desc }}">
<meta itemprop="image" content="{{ og_image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.inspect }}">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_desc }}">
<meta name="twitter:creator" content="@{{ site.twitter.inspect }}">
<meta name="twitter:image" content="{{ og_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:type" content="{{ og_type }}" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:image" content="{{ og_image }}" />
<meta property="og:description" content="{{ og_desc }}" />
<meta property="og:site_name" content="{{ site.title }}" />
{% if page.id %}
<meta property="article:published_time" content="{{ og_date }}" />
{% endif %}
