html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}
body {
  @extend %font-body;
  @include font-size(16px);
  position:relative;
  padding:0;
  padding-bottom:50px;
  margin:auto;
  border-top: 2px solid $brand-primary;
  background: $white url(../images/bg-tile.gif) repeat fixed;
  background-size: 101px 101px;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  color: $black;
  -webkit-font-smoothing: antialiased;

}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}

.cf,
.clearfix {
  @include clearfix;
}



hr {
  margin: 2em 0;
  border: 0;
  background-color: #ccc;
  height: 1px;
}

ul, ol {
  margin: 1em 0;

  li {
    margin-bottom:0.25em;
  }

  ul, ol {
    margin: 0.5em 0;
  }
}

img {
  max-width:100%;
  height:auto !important;
}

// Responsive video embeds
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Blockquote
blockquote, .quote {
  margin: 1.5em 0;
  padding: 1.5em;
  border-left: 0.2em solid $brand-primary;
  background-color: $white;
  box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.05);
  font-size: inherit;
  line-height: normal;

  cite {
    @include font-size(13px);
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px !important;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;

  & > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.emoji {
  vertical-align: text-top;
}

pre {
  margin: 0 0 30px 30px;
  border: 0;
}
code {
  font-family: $font-family-mono;
}
