html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  @extend %font-body;
  @include font-size(17px);
  position:relative;
  padding:0;
  padding-bottom:50px;
  margin:auto;
  border-top: 2px solid $brand-primary;
  background-color: $brand-primary-dark;
  background-size: 101px 101px;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  color: $black;
  -webkit-font-smoothing: antialiased;

}

hr {
  margin: 2em 0;
  border: 0;
  background-color: #ccc;
  height: 1px;
}

ul, ol {
  margin: 1em 0;

  li {
    margin-bottom:0.25em;
  }

  ul, ol {
    margin: 0.5em 0;
  }
}

img {
  max-width:100%;
  height:auto;
}

picture {
  @include center-content($wide: true);
  display: block;
  margin-bottom: 2em;
}

figure {
  margin: 0 0 20px 0;
}

blockquote {
  @include center-content($wide: true);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em 0;
  border-left: 0.2em solid $brand-primary-light;
  background-color: $brand-primary-very-light;
  font-size: inherit;
  line-height: normal;

  cite {
    @include font-size(13px);
  }
}

pre {
  @include center-content($wide: true);
  @include font-size(14px);
  display: block;
  border: 0;
  border-radius: 5px;
  line-height: 1.4;
  margin: 2em auto 3em;
  padding: 20px;
  word-break: break-all;
  word-wrap: break-word;

}
code, kbd, samp {
  @extend %font-mono;
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
