header[role="banner"] {
  @extend .clearfix;
  position: absolute;
  width: 100%;
  z-index: 1;
  
  .header-content {
    padding: 1em 1.5em;
  }
  
  h1.logo {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    margin: 0;
    line-height: normal;

    a {
      display:block;
      text-decoration: none;
    }

    svg {
      width: inherit;
      fill: $brand-primary-very-light;
    }

    .nav-open & {
      svg {
        fill: $white;
        transition: fill;
      }

      .text {
        color: $white;
        transition: color;
      }
    }
  }

  &:hover {
    border-color: transparent;
  }
}

.nav-toggle {
  display: inline-block;
  position: absolute;
  top: 1.5em;
  right: 1.25em;
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $break-sm) {
    display: none;
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1em;
    background-color: $brand-primary-very-light;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;


    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 0.5em;
    }

    &:nth-child(4) {
      top: 1em;
    }
  }

  &.open {
    span {
      background-color: $white;

      &:nth-child(1),
      &:nth-child(4) {
        top: 0.5em;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

nav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1.5em;
  padding-top: 3em;
  // background: $brand-primary;
  background-image: linear-gradient(to left top, $brand-primary, $brand-primary-dark);
  text-align: right;

  @media (min-width: $break-sm) {
    display: block;
    float: right;
    position: static;
    width: auto;
    padding: 0.5em;
    background: none;
  }
  a::after {
    bottom: 0px;
  }

  ul {
    margin: 2em 0 0 0;
    padding: 0;

    @media (min-width: $break-sm) {
      margin: 0;
    }

    li {
      @extend %font-heading;
      @include font-size(20px);
      font-weight: $font-weight-normal;
      padding: 0;
      margin: 0 0 1.25em 0;
      list-style-type: none;

      @media (min-width: $break-sm) {
        float: left;
        margin: 0 0 0 1.5em;
        @include font-size(14px);
      }

      a, a:hover, a:focus {
        color: $white;
        // @media (min-width: ($break-sm) ) {
        //   color: $brand-primary-dark;
        // }
      }
    }
  }
}
