/// <reference path="main" />

main[role="main"] {
    padding:0 1.5em;
    margin: 0 auto 3em auto;

    @media (min-width: $break-md) {
        max-width: 900px;
        padding: 0;
    }

    @media (min-width: $break-lg) {
        max-width: 1000px;
        padding: 0;
    }
}

article {
    @extend %clearfix;
}