ul.networks {
  @include font-size(16px);
  list-style: none;
  padding:0;
  margin: 0.75em 0 0 0;

  li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;

    a {
      span {
        display: none;
      }

      &.facebook:hover {
        border-color: $brand-facebook;
      }

      &.twitter:hover {
        border-color: $brand-twitter;
      }

      &.linkedin:hover {
        border-color: $brand-linkedin;
      }

      &.dribbble:hover {
        border-color: $brand-dribbble;
      }

      &.behance:hover {
        border-color: $brand-behance;
      }
    }
  }
}

ul.tags {
  margin:0;
  padding:0;

  li {
    display: inline-block;
    @include font-size(12px);
    margin:0;

    &:first-of-type {
      margin-right: 7px;
    }

    &:after {
      content: "•";
      display: inline-block;
      color: $white;
      margin: 0 7px;
    }

    &:first-of-type,
    &:last-of-type {
      &:after {
        content: "";
        display: none;
      }
    }
  }
}

ul.share-page {
  padding: 0;
  li {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-right: 0.5em;
    @include font-size(12px);
  }
}

.date {
  @include font-size(12px);
  font-style: normal;
  font-weight: 400;
  color: $dark-grey;
  padding: 0;
  margin: 0;
}

.image-caption {
  background: #f7f7f7;
  padding: 10px;
  margin-bottom: 1em;

  p {
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0 !important;
    color: $dark-grey;

    &:first-of-type {
      margin: 0;
      padding: 0;
    }
  }
}


.card {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  &:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  }

  .card-image {
    display: block;
    height: 160px;
    overflow: hidden;

    a {
      border: 0;
    }
  }

  .card-details {
    padding: 0.5em 1em;

    h2 {
      margin: 10px 0;
      @include font-size(20px);
    }

    p {
      @include font-size(14px);
    }
  }
}


.article-list-item {
  @extend %clearfix;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px dashed $light-grey;

  .title {
    margin-top:0;
  }
  .date {
    margin-bottom:1em;
  }
}

.article {
  header {
    margin: 0 0 2em 0;
    border-bottom: 2px solid #d9d9d9;
    
    h1 {
      margin-bottom: 0.25em;
    }
  }

  footer {
    margin: 4em 0;
    padding: 1em 0 0 0;
    border-top: 2px solid #d9d9d9;
  }
}

.read-more {
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}

ul.influences {
  @include clearfix;
  list-style-type: none;
  padding:0;

  li {
      float:left;
      width:50%;
    padding:0;

    @media (min-width: $break-sm) {
      float:left;
      width:25%;
    }
  }
  a {
    color: $black;
  }
  strike a {
    color: $medium-grey;
  }
}
