h1, h2, h3, h4, h5, h6 {
  color: $black;
  line-height: 1.3em;
  margin-bottom: 1em;
  font-weight: $font-weight-medium;

  &.light {
    font-weight: $font-weight-normal;
  }
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;

  & > & {
    margin-top:0;
  }
}

h1 {
  @include font-size(34px);
  font-weight: $font-weight-bold;

  span {
    color: $medium-grey;
    font-weight: $font-weight-normal;
    text-transform: none;
    @include font-size(20px);
  }
}

h2 {
  @include font-size(26px);

  span {
    display: block;
    color: $medium-grey;
    font-weight: $font-weight-normal;
    @include font-size(16px);
  }
}

h3 {
  @include font-size(20px);
}

h4 {
  @include font-size(18px);
}

h5 {
  @include font-size(17px);
}

h6 {
  @include font-size(16px);
}

small,
.font_small {
  @include font-size(11px);
}

a {
  color: $brand-primary;
  text-decoration: none;
  position: relative;

  &:focus,
  &:active,
  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
  &:not(.btn)::after {
    content: '';
    height:2px;
    width:0%;
    position:absolute;
    bottom: 2px;
    left: 50%;
    background-color: $brand-primary;
    transition: all 150ms ease-in-out;
  }

  &:hover::after {
   width:100%;
   left:0;
  }
}


p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: $font-weight-bold;
}
