// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');

$system-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
$font-family-heading: $system-font;
$font-family-body: $system-font;
$font-family-mono: 'Roboto Mono', monospace;

%font-heading { font-family: $font-family-heading; }
%font-body { font-family: $font-family-body; }
%font-mono { font-family: $font-family-mono; }

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


// Breakpoints
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


// Colors
// $brand-primary: #3f7f7b;
$brand-primary: #0085ff;
$brand-primary-dark: darken($brand-primary, 20%); 
$brand-primary-light: lighten($brand-primary, 40%);
$brand-primary-very-light: lighten($brand-primary, 60%);

// $brand-secondary: #ab9e7f;
$brand-secondary: adjust-hue($brand-primary, -120);

$dark-grey: #666666;
$medium-grey: #7f7f7f;
$light-grey: #E0E0E0;
$white: #ffffff;
$black: #3f4242;
$true-black: #000000;

$text-body: $black;
$text-link: $brand-primary;

$brand-twitter: #55acee;
$brand-facebook: #3b5998;
$brand-instagram: #a7755c;
$brand-linkedin: #0077b5;
$brand-dribbble: #ea4c89;
$brand-behance: #1769ff;
$brand-youtube: #cd201f;
$brand-github: #000000;
