---
layout: default
---
<article class="article" itemscope itemtype="http://schema.org/Book">
  <header>
    <h1 class="book-title">
      {{ page.title | escape }}
      <span class="book-author">
        by {{ page.author }}
      </span>
    </h1>

  </header>

  <div class="content book-page" itemprop="review">
      <img class="book-cover" src="{{ site.url }}/images/books/{{ page.cover }}.jpg" alt="{{ book.title }}">

      {{ content }}

      {% if page.buylink %}
      <p>
        <a class="btn btn-primary" href="{{ page.buylink | escape }}" target="_blank">Get it on Amazon</a>
      </p>
      {% endif %}

  </div>

  <footer>
    {% include share-page.html %}
  </footer>
</article>
