---
layout: default
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="content">
      <p class="date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>
      <h1>{{ page.title | escape }}</h1>
    </div>
  </header>

  {% if page.artwork %}
  <figure>
    <img src="{{ site.base_url }}/images/posts/{{ page.artwork }}" alt="{{ page.title | escape }}">
  </figure>
  {% endif %}
  <div class="content" itemprop="articleBody">
    
    {{ content }}
  </div>

  <footer>
  {% include share-page.html %}
  </footer>

  {% if site.disqus_shortname %}
    {% if page.comments != false %}
    <aside>
      <h2>Comments</h2>
      {% include disqus_comments.html %}
    </aside>
    {% endif %}
  {% endif %}
</article>
