---
layout: default
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1>{{ page.title | escape }}</h1>

    <p class="date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </p>
  </header>

  <div itemprop="articleBody">
    {% if page.artwork %}
    <figure>
      <img src="/images/posts/{{ page.artwork }}" alt="{{ page.title | escape }}">
    </figure>
    {% endif %}
    
    {{ content }}
  </div>

  <footer>
  {% include share-page.html %}
  </footer>

  {% if site.disqus_shortname %}
    {% if page.comments != false %}
    <aside>
      <h2>Comments</h2>
      {% include disqus_comments.html %}
      {% endif %}
    </aside>
  {% endif %}
</article>
